.solid-border {
    border: 1px solid black;
}
.light-border {
    border: 1px solid #f0f0f0;
}
.margin-0 {
    margin: 0px;
}
.margin-5 {
    margin: 5px;
}
.padding-5 {
    padding: 5px;
}
.margin-right-10 {
    margin-right: 10px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.padding-10 {
    padding: 10px;
}
.center{
    text-align: center;
}
.frame, .controls {
    width: fit-content;
    height: fit-content;
    display: table-cell;
}
.grid {
    display: table-cell;
}
.button {
    background-color: #aeaeae;
    padding: 10px;
    border: 1px solid #5f5f5f;
    cursor: pointer;
    text-align: center;
}
.cell {
    height: 25px;
    width: 25px;
    display: table-cell;
}
.cell.shaded {
    background-color: #000;
}
.cell.shaded.head {
    background-color: #be0000;
}
.cell.shaded.fruit {
    background-color: #007400;
}
.overlay-text {
    position: absolute;
    top: 433px;
    left: 59px;
    width: fit-content;
    height: fit-content;
    font-size: 4em;
    background-color: #737373;
}